extends layout
block content
    table(class="gridtable")
        tr
            th ID
            td=user.id
        tr
        	th User Name:
        	td=user.userName
        tr
        	th Avatar Url:
        	td=user.avaterUrl
        tr
        	th Password:
        	td=user.password
        tr
        	th Role:
        	td=user.role
        tr
        	th Email:
        	td=user.email
        tr
        	th Age:
        	td=user.age
    form(id="form", method="get", action="/")
        input(type="submit", value="Back to list")