extends layout

block content
  div(class='container')
    div(class = 'signupF')
      form(id='form', method='post', action=edit?"/edit":"/signup")
        div(class='one')
          h3(id='h3Info') Infomation Entry
          label Username:
          br
          input(type='text', name='username', value=user&&user.username)
          br
          label Email:
          br
          input(type='text', name='email', value=user&&user.email)
          br
          label Age:
          br
          input(type='text', name='age', value=user&&user.age)
          br
          label Password:
          br
          input(type='password', name='password')
          br
          br
          input(type='submit', value='submit') 
        div(class='two')
          img(id='avatar',src=user&&user.avatarurl)
          input(type='text', class="hidden", id="hiddenSrc", name="avatarurl", value=user&&user.avatarurl)
          div 
            img(class='selectors', src='/arrowLeft.png',onclick='avatarEyesUp()')
            label(class='AvatarText') Eyes
            img(class='selectors', src='/arrowRight.png',onclick='avatarEyesDown()')
          div
            img(class='selectors', src='/arrowLeft.png',onclick='avatarNoseUp()')
            label(class='AvatarText') Nose
            img(class='selectors', src='/arrowRight.png',onclick='avatarNoseDown()')
          div
            img(class='selectors', src='/arrowLeft.png',onclick='avatarMouthUp()')
            label(class='AvatarText') Mouth
            img(class='selectors', src='/arrowRight.png',onclick='avatarMouthDown()')
          div
            br       
            label(class='AvatarText') Color
          div
            input(type='color',id='colorPicker',oninput='avatarUpdateColor()',value="#DEADBF")
  script(src='/signupEdit.js')
