extends layout

block content
  div(class='container')
    div(class = 'signupF')
      form(id='form', method='post', action=edit?"/edit":"/signup")
        div(class='one')
          h3(id='h3Info') Infomation Entry
          label Username:
          br
          input(type='text', name='username', value=user&&user.username)
          br
          label Email:
          br
          input(type='text', name='email', value=user&&user.email)
          br
          label Age:
          br
          input(type='number', min=0, max=150, name='age', value=user&&user.age)
          br
          label Password:
          br
          input(type='password', name='password')
          br
          br
          div(class="save-register")
              button(type='submit')=edit?'Save':'Register'
        div(class='two')
          img(id='avatar',src=user&&user.avatarurl)
          input(type='text', class="hidden", id="hiddenSrc", name="avatarurl", value=user&&user.avatarurl)
          div(class="avatarText")
            label(class="left", onclick='avatarEyesUp()', type="button")="<"
            div Eyes
            label(class="right", onclick='avatarEyesDown()', type="button")=">"
          div(class="avatarText")
            label(class="left", onclick='avatarEyesUp()', type="button")="<"
            div Nose
            label(class="right", onclick='avatarNoseDown()', type="button")=">"
          div(class="avatarText")
            label(class="left", onclick='avatarMouthUp()', type="button")="<"
            div Mouth
            label(class="right", onclick='avatarMouthDown()', type="button")=">" 
          div(class="avatarText")
            div Color:&nbsp;
            input(class="formInput" type='color',id='colorPicker',oninput='avatarUpdateColor()',value="#DEADBF")

  script(src='/signupEdit.js')
